<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">


    <welcome-file-list>
        <welcome-file>HelloUser.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>listFilms</servlet-name>
        <servlet-class>main.java.ListFilms</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>ViewFilms</servlet-name>
        <servlet-class>main.java.ViewFilms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonAction</servlet-name>
        <servlet-class>main.java.ButtonAction</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ButtonAction</servlet-name>
        <url-pattern>/actions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>listFilms</servlet-name>
        <url-pattern>/films</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFilms</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>

</web-app>

